.body{
    text-align: center;
  }
  #survey-form {
    display:block;
    text-align:center;
    background-color:seagreen;
    width: 800px;
    margin:0 auto;
    padding:40px;
    background-image:url(https://img.freepik.com/free-photo/composition-with-different-expressions-copy-space_23-2148857208.jpg?size=626&ext=jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
  }
  
    #textarea {
    width:500px;
    height:100px;
  }
  
  #check1{
  color:maroon;
  }
  #name-label,#email-label,#number-label{
    color:White;
    
    
  }
  #dropdown{
    color:orange;
  }
  
  